<div class = "row edit-page">
	<%= render 'application/sideNav'%>
	<div class = "small-9 columns form-yield">
		<h4 class = "header"> Edit Social Media Links </h4>
		<%= render 'form' %>
	</div>
</div>