<div class = "row edit-page">
	<%= render 'application/sideNav'%>
	<div class = "small-12 medium-9 columns form-yield no-padding">
		<%= render 'application/topNav' %>
		<%= render 'application/alerts' %>

		<div class = "small-12 medium-9 columns edit-content-section">
			<div class = "edit-info-header">
				<h4> Edit Personal Info </h4>
				<a href="#" data-reveal-id="instructModal">
					<i class="fa fa-question-circle"></i>&nbsp;Instructions
				</a>
			</div>

			<%= render 'form' %>
		</div>

		<div id="instructModal" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog" style="top: 45px;height: 90vh;overflow-y: scroll;">

			<h2 id="modalTitle"> Personal Info Instructions</h2>

			<p class="lead-p">This section immediately follows your landing page. The goal here is to give visitors a brief snapshot of who you are and where you are going. A good format to follow is: state your interests, say want you want to do with these interests in the future, mention relevant previous experiences that have given you the necessary skills. Below is a template to follow if you are struggling, but don't feel like you need to follow it exactly. Tailor the paragraph to fit your experiences and goals, but stay professional. This is your 30 second elevator pitch so make sure you nail it.</p>

			<p class = "section-header"> Suggested Framework: </p>
			<p class = "section-content"> 
				<ol>
					<li> General opening sentence about who you are in a technical sense. </li>
						<ul>
							<li class = "technicals"> "I am currently a 2016 MBA candidate at Simon Business School (University of Rochester) completing a dual concentration in competitive strategy and finance." </li>
						</ul>
					<li> State your interests and what type of field you want to enter. </li>
						<ul>
							<li class = "technicals"> I am looking for an opportunity to apply my education and experience where these two subjects intersect. </li>
						</ul>
					<li> Give examples of past experiences that have given you relevant skills. </li>
						<ul>
							<li class = "technicals"> I have a deep understanding of the private and public capital markets through my past work experiences. I had two summer internships at..(go into more detail) </li>
						</ul>
					<li> Start a new paragraph and give a couple sentences on what makes you interesting as a person. </li>
						<ul>
							<li class = "technicals"> My other interests include community service, entrepreneurship and athletics...(go into more detail) </li>
						</ul>


				</ol>

			</p>



			<a class="close-reveal-modal" aria-label="Close">&#215;</a>
		</div>
	</div>
</div>