<%= simple_form_for(@background_info) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
  	<p class = "alt-text"> Do you want the title of this section to be 'Experience' or 'Education'? </p>
    <%= f.collection_radio_buttons :background_type, [[0, 'Experience'] ,[1, 'Education']], :first, :last%>
    <br/>
  </div>

  <div class="form-actions">
   <%= f.button :submit, 'Save' %>
   <a href="#" data-reveal-id="previewModal" class = "button alt3">Preview</a>
  </div>
<% end %>