<%= simple_form_for(@background_info) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
  	<p> <i> Select type of background info section: </i></p>
    <%= f.collection_radio_buttons :background_type, [[0, 'Experience'] ,[1, 'Education']], :first, :last%>
    <br/>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>