<div class = "row">
  <div class = "small-12 columns">
    <h1>Listing All Students</h1>
    <%= link_to 'View by school', schools_path %>
  </div>
</div>

<% @users %>
<%= render 'schools/userDisplay' %>