<div class = "row edit-page">
	<%= render 'application/sideNav'%>
	<div class = "small-12 medium-9 columns form-yield">
		<% if current_user.showcase.showcase_type != nil %>
			<% if current_user.showcase.showcase_type == 1 %>
				<%= render 'form1' %>
			<% else %>
				<%= render 'form0' %>
			<% end %>
		<% end %>
	</div>
</div>