<div class = "row edit-page">
	<%= render 'application/sideNav'%>
	<div class = "small-12 medium-9 columns form-yield no-padding">
		<%= render 'application/topNav' %>
	    <%= render 'application/alerts' %>

		<div class = "small-12 medium-9 columns edit-content-section">
		<%= render 'form' %>
	</div>
</div>