<%= simple_form_for(@showcase) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
  	<p> <i> Select type of showcase projects: </i></p>
  	<%= f.collection_radio_buttons :showcase_type, [[0, 'Traditional'] ,[1, 'Background Image']], :first, :last%>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
