<%= simple_form_for(@showcase) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
  	<%= f.collection_radio_buttons :showcase_type, [[0, 'Projects'] ,[1, 'Companies']], :first, :last%>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
