<div class = "row edit-page">
	<%= render 'application/sideNav'%>
	<div class = "small-12 medium-9 columns form-yield">
		<h4 class = "header"> Select Showcase Type </h4>
		<%= render 'form' %>

		<br/>
		<br/>
	</div>
</div>