<div class = "row edit-page">
	<%= render 'application/sideNav'%>
	<div class = "small-9 columns form-yield">
		<%= render 'form' %>


		<%= link_to 'Create New Project', new_project_path %>

		<br/>
		<br/>
		<%= render @showcase.projects %>
	</div>
</div>