<div class = "row">
  <div class = "small-12 columns">
    <h1><%= @school.name %></h1>
    <br>
    <%= link_to 'Back to all schools', schools_path %>
  </div>
</div>


<% @users = @school.users %>
<%= render 'schools/userDisplay' %>

