<div class = "row edit-page">
	<%= render 'application/sideNav'%>
	<div class = "small-12 medium-9 columns form-yield">
		<h4 class = "header"> Link Photo Blog </h4>
		<%= render 'form' %>
	</div>
</div>