<div id="instructModal" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog" style="top: 45px;height: 90vh;overflow-y: scroll;">

	<h2 id="modalTitle"> Background Info Instructions</h2>

	<p class="lead-p">This section allows you to visually highlight your past education or experiences. No text is required. Use this opportunity to display the logos of companies or institutions that you have been affiliated with in the past.  </p>

	<p class = "section-header"> Instructions: </p>
	<p class = "section-content"> 
		This is the easiest section by far.
		<ol>
			<li> Select if you want the title of this section to be 'Prior Experience' or 'Prior Education'. Choose whichever fits best with your situation. Choose experience if you want to upload both companies and schools.
			</li>
			<li> Upload logos of the companies/institutions. Google search is the easiest way to find the logos. Keep searching until you find logos with white backgrounds - it makes your website looks much better. Crop images to be square for best results. Copy and paste a relevant URL for that experience (i.e., website of company or degree program)
				<p class ="example">
					Accepted file types: jpeg, png<br/>
					Maximum file size: 400kb <br/>
					Optimal dimensions: 200 x 200 pixels
				</p>
			</li>
		</p>



		<a class="close-reveal-modal" aria-label="Close">&#215;</a>
	</div>