<div id="instructModal" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog" style="top: 45px;height: 90vh;overflow-y: scroll;">

	<h2 id="modalTitle"> Website Settings Instructions</h2>

	<p class="lead-p">Last step! Personalize the appearance of your website for the finishing touch! Most important thing is <strong> DO NOT buy the domain name yourself.</strong> If you do, we are unable to gaurantee you will be able to use it. Follow the instructions to check for availability and we will buy it for you.</p>

	<p class = "section-header"> Instructions: </p>
	<p class = "section-content"> 
		<ol>
			<li> 
				Search any domain name database <a href="http://www.whois.com/" target="_blank"> (here) </a> to check for the availability of your desired domain name. Again, <strong> DO NOT BUY IT </strong>. It is best to have your name in the url. If "yourname.com" is taken, consider "yourname.me" as a good alternative. Once you find one that you like, upload it below. It will not be purchased until your website is approved, so try to finish as soon as possible so that it is not taken.
			<li>
				Choose the theme color you like best.
			</li>
		</ol>


		<a class="close-reveal-modal" aria-label="Close">&#215;</a>
	</div>