<div id="instructModal" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog" style="top: 45px;height: 90vh;overflow-y: scroll;">

	<h2 id="modalTitle"> Adding Articles Instructions</h2>

	<p class="lead-p">Articles should show the diversity of your interests. Professionally is still important, so only include articles from reputable websites (no BuzzFeed). A good rule of thumb is to only posts articles that you would send to a professor.  </p>

	<p class = "section-header"> Title: </p>
	<p class = "section-content"> 
		Copy and paste the title of the article into this section.
	</p>

	<p class = "section-header"> Summary: </p>
	<p class = "section-content"> 
		The summary section is where you can right a brief paragraph about your thoughts on the article. Try to limit to 3 sentences at most.
	</p>
	<p class = "example">
		Example: "Very interesting concept of using a wearable device that will utilize nanoparticles to monitor health in real time. I think their 5 year expectations are overly aggressive, but love the innovative approach."
	</p>
	<br/>

	<p class = "section-header"> Url: </p>
	<p class = "section-content"> 
		Copy and paste the url of the website. Double-check after posting to ensure it is the correct link.
	</p>



		<a class="close-reveal-modal" aria-label="Close">&#215;</a>
	</div>