<div id="instructModal" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog" style="top: 45px;height: 90vh;overflow-y: scroll;">

	<h2 id="modalTitle"> Showcase Instructions</h2>

	<p class="lead-p"> The showcase is a space where you can showoff impressive projects you have worked on in the past. Recruiters want to see that you have the necessary skills required for your desired job. The projects can be from class assignments, but it is even better if you take the initiative and do side projects in your areas of interest. If you want to go into marketing, do a brand analysis or re-branding of your favorite company. If you're into finance, build an excel model that does something cool. Have fun with it and you'll learn a lot in the process!</p>

	<p class = "section-header"> Instructions: </p>
	<p class = "section-content"> 
		Click the Add New Project button to upload your desired projects. More instructions on the following page. The projects will be shown in the order they are uploaded.
	</p>



	<a class="close-reveal-modal" aria-label="Close">&#215;</a>
</div>