<div id="instructModal" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog" style="top: 45px;height: 90vh;overflow-y: scroll;">

	<h2 id="modalTitle"> Website Settings Instructions</h2>

	<p class="lead-p">Last step! Personalize the appearance of your website for the finishing touch.</p>

	<p class = "section-header"> Instructions: </p>
	<p class = "section-content"> 
		<ol>
			<li>
				Choose the theme color you like best.
			</li>
		</ol>


		<a class="close-reveal-modal" aria-label="Close">&#215;</a>
	</div>