<div id="instructModal" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog" style="top: 45px;height: 90vh;overflow-y: scroll;">

	<h2 id="modalTitle"> Photo Blog Instructions</h2>

	<p class="lead-p">The photo blog is designed to allow you to show your personality. <u> Professionalism is absolutely critical. </u>  Do not post pictures that you would not want the dean to see. To make it easier to select which photos are professional enough to share, it is best to create a Tumblr account dedicated to sharing to this website. </p>

	<p class = "section-header"> Instructions: </p>
	<p class = "section-content"> 
		<ol>
			<li> 
				Create a tumblr account <a href ="https://www.tumblr.com/register" target="_blank"> here. </a>
			</li>
			<li> 
				Enter your tumblr username into the field below.
			</li>
			<li> 
				Upload appropriate pictures that show your personality.
			</li>
		</ol>
		<p class ="example">
			Hints: </br>
			<ul class = "example">
				<li> 
					You can connect Tumblr to your instagram account and select which photos you want shared when you post to instagram <a href="http://www.twelveskip.com/tutorials/instagram/452/how-to-connect-your-instagram-to-tumblr" target="_blank"> (Instructions here). </a>
				</li>
				<li>
					Customize the look of your tumblr blog itself. There will be a link to the blog below your photos.
				</li>
			</ul>
		</p>



		<a class="close-reveal-modal" aria-label="Close">&#215;</a>
	</div>