<div id="instructModal" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog" style="top: 45px;height: 90vh;overflow-y: scroll;">

	<h2 id="modalTitle"> Google Analytics</h2>

	<p class="lead-p">Connecting your website to Google Analytics allows you to gain real-time insights into who is viewing your profile. This is not only informative information that can be critical during your job search, but also a great learning experience that will give you a new skill to reference on your resume. It is much more fun to learn Google Analytics using your own website than for a homework assignment. </p>

	<p class = "section-header"> Instructions: </p>
	<p class = "section-content"> 
		<ol>
			<li> 
				Follow Google instructions on setting up an analytics account: <a href="https://support.google.com/analytics/answer/1008015?hl=en"> Instructions here </a>
			</li>
			<li>
				Enter your Analytics Tracking ID in the form below and it will automatically start tracking!
			</li>
		</ol>
	</p>



		<a class="close-reveal-modal" aria-label="Close">&#215;</a>
	</div>