<div id="instructModal" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog" style="top: 45px;height: 90vh;overflow-y: scroll;">

			<h2 id="modalTitle"> Personal Info Instructions</h2>

			<p class="lead-p">This section immediately follows your landing page. The goal here is to give visitors a brief snapshot of who you are and where you are going. A good format to follow is: state your interests, say want you want to do with these interests in the future, mention relevant previous experiences that have given you the necessary skills. Below is a template to follow if you are struggling, but don't feel like you need to follow it exactly. Tailor the paragraph to fit your experiences and goals, but stay professional. This is your 30 second elevator pitch so make sure you nail it.</p>

			<p class = "section-header"> Headshot Picture: </p>
			<p class = "section-content"> 
				Think LinkedIn picture, not Facebook. Having a professional headshot is extremely important for your online professional image. Use the most professional headshot possible, ensuring the image is high enough quality that it does not look blurry.
			</p>
			<p class ="technicals">
				Accepted file types: jpeg, png<br/>
				Maximum file size: 1mb
			</p>


			<p class = "section-header"> Intro Paragraph Framework: </p>
			<p class = "section-content"> 
				<ol>
					<li> General opening sentence about who you are in a technical sense. </li>
						<ul>
							<li class = "example"> "I am currently a 2016 MBA candidate at Simon Business School (University of Rochester) completing a dual concentration in competitive strategy and finance." </li>
						</ul>
					<li> State your interests and what type of field you want to enter. </li>
						<ul>
							<li class = "example"> I am looking for an opportunity to apply my education and experience where these two subjects intersect. </li>
						</ul>
					<li> Give examples of past experiences that have given you relevant skills. </li>
						<ul>
							<li class = "example"> I have a deep understanding of the private and public capital markets through my past work experiences. I had two summer internships at..(go into more detail) </li>
						</ul>
					<li> Start a new paragraph and give a couple sentences on what makes you interesting as a person. </li>
						<ul>
							<li class = "example"> My other interests include community service, entrepreneurship and athletics...(go into more detail) </li>
						</ul>
				</ol>
			</p>

			<p class = "section-header"> Resume: </p>
			<p class = "section-content"> 
				Upload your professional resume in PDF format. Simple, but important. Make sure to proof read and spell check.
			</p>

			<p class = "section-header"> Past Experience: </p>
			<p class = "section-content"> 
				This section allows you to visually highlight your past education or experiences. No text is required. Use this opportunity to display the logos of companies or institutions that you have been affiliated with in the past.
			</p>
			<li> Upload logos of the companies/institutions. Google search is the easiest way to find the logos. Keep searching until you find logos with white backgrounds - it makes your website looks much better. Crop images to be square for best results. Copy and paste a relevant URL for that experience (i.e., website of company or degree program)
				<p class ="example">
					Accepted file types: jpeg, png<br/>
					Maximum file size: 400kb <br/>
					Optimal dimensions: 200 x 200 pixels
				</p>
			</li>



			<a class="close-reveal-modal" aria-label="Close">&#215;</a>
		</div>