<div id="instructModal" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog" style="top: 45px;height: 90vh;overflow-y: scroll;">

	<h2 id="modalTitle"> Social Links Instructions</h2>

	<p class="lead-p">At the bottom of your website you can make links to other social media profiles. You should have already reviewed your profiles to ensure they portray a professional image, but now would be a good time to double-check. Even if you don't include the links here, employers will search for your other online profiles so it is essential that they portray you well. </p>

	<p class = "section-header"> Instructions: </p>
	<p class = "section-content"> 
		<ol>
			<li>
				Enter your preferred email contact.
			</li>
			<li> 
				Copy and paste URL links to any profiles you want to link. All fields are optional.
			</li>
		</ol>


		<a class="close-reveal-modal" aria-label="Close">&#215;</a>
	</div>