<div id="instructModal" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog" style="top: 45px;height: 90vh;overflow-y: scroll;">

	<h2 id="modalTitle"> Reading List Instructions</h2>

	<p class="lead-p">Your reading list is a way to show visitors more about your interests and personality. Add links to articles that you have read and find interesting. Include articles relevant to your desired industry, but post articles on other areas as well. Ideally the articles will show diversity in your interests. Be prepared to have an intelligent conversation with a recruiter about any article you post.  </p>

	<p class = "section-header"> Instructions: </p>
	<p class = "section-content"> 
		Click 'New Article' to create a new post. It is best to upload at least 3 articles before your initial website is launched. After that try to post at least once a month.
	</p>



		<a class="close-reveal-modal" aria-label="Close">&#215;</a>
	</div>