<div id="instructModal" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog" style="top: 45px;height: 90vh;overflow-y: scroll;">

	<h2 id="modalTitle"> Domain Name</h2>

	<p class="lead-p">Type your desired website domain name in the search box below (ie, "yourname.com" or "yourname.me"). If the box turns green then it is available. If it turns red it is not. Once you find a domain that is available, enter the entire domain name in the form below. <strong> DO NOT BUY THE DOMAIN NAME YOURSELF </strong>. If you buy it then we are unable to gaurantee you will be able to use it. We will purchase and activate the domain name for you once your website is approved by your head of CMC.</p>

	<p class = "section-header"> Instructions: </p>
	<p class = "section-content"> 
		<ol>
			<li> 
				Search for an available domain name of your choosing and submit it in the field on this form. <strong> DO NOT BUY IT YOURSELF!! </strong> We will purchase and setup the domain for you. If you buy the domain name we cannot guarantee we will be able to connect it to your new website.
			</li>
		</ol>
	</p>



		<a class="close-reveal-modal" aria-label="Close">&#215;</a>
	</div>