<div id="instructModal" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog" style="top: 45px;height: 90vh;overflow-y: scroll;">

	<h2 id="modalTitle"> Showcase Instructions</h2>

	<p class="lead-p"> </p>

	<p class = "section-header"> Instructions: </p>
	<p class = "section-content"> 
	</p>



	<a class="close-reveal-modal" aria-label="Close">&#215;</a>
</div>