<div class ="small-12 columns show-for-medium-up no-padding" id="edit-page-nav">
  <div class = "small-6 small-offset-6 columns nav-content">

	<button href="#" data-dropdown="drop1" aria-controls="drop1" aria-expanded="false" class="button dropdown right"><i class="fa fa-user" aria-hidden="true"></i>&thinsp;<%= @user.email %>&nbsp;&nbsp;<i class="fa fa-angle-down" aria-hidden="true"></i></button><br>
	<ul id="drop1" data-dropdown-content class="f-dropdown right" aria-hidden="true">
	  <li><%= link_to "Account Settings", edit_user_registration_path %></li>
	  <li> <%= link_to 'Logout', destroy_user_session_path, :method => :delete %></li>
	</ul>
  </div>
</div>


<div id = "edit-nav-filler">
</div>